{% extends 'pages_app/base.html' %}
{% block pageTitle %} home {% endblock pageTitle %}

{% block Main %}
<!-- Main Content -->
    <main>
        <div class="container">
            <h1>Where can I get some?</h1>

            <div class="text-section">
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have 
                    suffered alteration in some form, by injected humour, or randomised words
                </p>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered 
                    alteration in some form, by injected humour, or randomised words
                </p>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered 
                    alteration in some form, by injected humour, or randomised words
                </p>
            </div>

            <div class="content-section">
                <div class="image-container">
                    <img src="static/pages_app/img/presenter.png" alt="Professional with tablet">
                </div>
                <div class="text-container">
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority 
                        have suffered alteration in some form, by injected humour, or randomised words
                    </p>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered 
                        alteration in some form, by injected humour, or randomised words
                    </p>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in 
                        some form, by injected humour, or randomised words
                    </p>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some 
                        form, by injected humour, or randomised words
                    </p>
                </div>
            </div>
        </div>
    </main>

    {% endblock Main %}